/* address of this page on top of page */
#page-address {
    width: 80%;
    margin: auto;
}

/* style of list of links to this page */
#page-address > ol {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 0;
    color: #1780df;
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 14px;
    position: relative;
}

#page-address li {
    margin-left: 10px;
    cursor: pointer;
}

#page-address li:last-child {
    color: #6e7794;
}

#page-address svg {
    width: 20px;
    vertical-align: middle;
}

/*  style of doctor information in first section of page */
#doctor-information-container {
    width: 80%;
    display: flex;
    color: #6e7794;
    margin: 1rem auto;
}

/*  style of doctor information card that is right part of this section */
#doctor-information-card {
    width: 33.33%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgb(23, 128, 223);
    border-radius: 10px;
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 0.2rem;
    margin-left: 1.5rem;
    margin-bottom: 15px;
}

/*  style of top part of doctor information card */
#doctor-information-card-top {
    margin: .5rem 1.5rem;
    justify-content: space-between;
    display: flex;
}

/* style of image in top part of card */
#doctor-information-card-top img {
    width: 105px;
    height: 105px;
    border-radius: 50%;

}

#doctor-information-card-top svg {
    cursor: pointer;
    color: #fff;
}

#doctor-information-card-top svg:hover {
    fill: rgb(251, 129, 94);
}

#doctor-information-card-top svg:last-child:hover {
    color: rgb(251, 129, 94);
}

/* style of middle part of doctor information card */
#doctor-information-card-middle {
    margin-bottom: 1.5rem;
    color: #ffffff;
}

#doctor-information-card-middle h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;

}

#doctor-information-card-middle h2 {
    font-size: 0.8rem;
    margin-top: 1rem;
}

#doctor-information-card-middle h3 {
    font-size: 0.7rem;
    margin-top: 1rem;

}

/* style of bottom part of doctor information card */
#doctor-information-card-bottom {
    border-radius: 10px;
    font-size: 0.7rem;
    margin: 0.5rem;
    display: flex;
    background-color: rgb(255, 255, 255);
}

#doctor-information-card-bottom div {
    padding: .5rem;
    width: 33.33%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#doctor-information-card-bottom div span {
    width: 100%;
    margin-top: 0.20rem;
}

#doctor-information-card-bottom > div > span:last-child {
    font-size: 0.8rem;
    margin-top: 0.45rem;
    color: rgb(59, 65, 87);

}

/*  style of online appointments for doctor of this page that is left part of this section */
#online-appointments-div1 {
    margin-bottom: 1.5rem;
    width: 66.66%;
}

#online-appointments-div2 {
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

/* style of location of doctor's office that is first part of online appointments section */
#doctor-office-location {
    padding: 1rem 1.5rem;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#doctor-office-location > button {
    width: 25%;
    cursor: pointer;
    background-color: #1780df;
    color: #fff;
    border-radius: 5px;
    padding: .5rem 1rem .5rem 0;
    border: 0;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
}

/* style of dropdown icon */
#doctor-office-location > button > span {
    margin: auto auto auto 10px;
    float: left;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/* style of calendar and free time box */
#calendar-div {
    color: #6e7794;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1.5rem;
}

#calendar-row {
    height: 100%;
    padding: .5rem 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

#calendar-row > ul {
    display: flex;
    width: 83%;
    justify-content: space-between;
    padding-right: 0;
    height: 100%;
    list-style: none;
    color: #1780df
}

#calendar-row > ul li {
    width: 12%;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, .125);
}

#calendar-row > ul li p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

#calendar-row > ul li p:last-child {
    font-size: 10px;
}

#calendar-row > ul li:first-child {
    background-color: #ededed;
    color: #acadaf;
}

#calendar-row > ul li:nth-child(2) {
    background-color: #1780df;
    color: #fff;
}


#calendar-row button {
    padding: 5px;
    outline: none;
    border: 1px solid #fb815e;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    color: #fb815e;
    display: flex;
    align-items: center;
    fill: #fb815e;
    margin: auto 0;
}

#free-times-div {
    border-radius: 10px;
    color: #6e7794;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
    font-size: 1rem;
}

#free-times-explain {
    display: flex;
    padding: 1rem;
    align-items: center;
}

#free-times-explain > h5 {
    margin: 0 10px 0 0;
}

#free-times-div button {
    width: 11%;
    border-radius: 5px;
    padding: 0.6rem;
    background-color: #fb815e;
    border: 0;
    margin-left: 5%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

#free-times-div button:nth-child(2) {
    background-color: rgba(0, 0, 0, .125);
    color: #acadaf;
}

#free-times-div button:last-child:hover {
    background-color: #fa5a2c;
}


#user-comments-examples {
    border-radius: 10px;
    border: 1px solid #ededed;
    background-color: #fff;
    padding-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

#doctor-score-div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 15%;
    display: flex;
    background: #e5f2fe;
    text-align: center;
    border-radius: 5px;
    color: #1780df;
    flex-wrap: wrap;
}

#doctor-score-top-div {
    color: #1780df;
    font-weight: 700;
    font-size: 38px;
    /*width: 100%;*/
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}

#doctor-score-middle-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem
}

#doctor-score-middle-div svg {
    fill: #1780df;
}

#doctor-score-div > p {
    /*align-items: center;*/
    margin: auto;
    margin-top: 10px;
    color: #6e7794;
}

#user-comment-example {
    width: 83.33%;
    padding-right: 15px;
    padding-left: 15px;
}

#user-comment-example ul {
    list-style: none;
}

#username-comment-example {
    margin-bottom: 1rem;
}

#username-comment-example p {
    padding: 0;
    margin-right: 10px;
}