.w-80 /* sets the width of a block element to 80% */
{
    width: 80%;
}
.w-90 /* sets the width of a block element to 90% */
{
    width: 90%;
}
.w-95 /* sets the width of a block element to 95% */
{
    width: 95%;
}

.cur-pointer /* set cursor shape to pointer */
{
    cursor: pointer;
}

.rounded-10px /* round the corners by 10px */
{
    border-radius: 10px;
}
.rounded-25px /* round the corners by 25px */
{
    border-radius: 25px;
}

.text-12 /* set font size to 12px */
{
    font-size: 12px;
}

.font-120 /* set font size to 120% */
{
    font-size: 120%;
}
.font-110 /* set font size to 110% */
{
    font-size: 110%;
}
.font-140
{
    font-size: 140%;
}

.our-bg-gray /* gray color for background */
{
    background-color: #fafafa;
}
.our-bg-dark /* dark color for background */
{
    background-color: #ccc;
}
.our-bg-green /* dark green for background */
{
    background-color: #e5f2fe;
}
.our-bg-btn
{
    background-color: rgb(251, 129, 94);
}

.our-text-lightgreen /* light color for text color */
{
    color: rgb(77, 204, 107);
}

.no-outline /* remove outline from elements */
{
    outline: none;
}

/* ----------------------------------------------------------------------- */

.search-box > input /* input box for search bar in sidebar */
{
    padding-right: 50px !important;
}

.search-box > svg /* magnifier image inside search bar */
{
    position: absolute;
    top: 15px;
    right: 10px;
}

/* ----------------------------------------------------------------------- */

.our-checkbox /* special checkbox like a slider */
{
    width: 60px;
    height: 30px;
}

.our-checkbox > div /* circle inside checkbox */
{
    position: absolute;
    width: 26px;
    height: 26px;
    right: 20px;
    top: 2px;
}

/* ----------------------------------------------------------------------- */

.doctor-box:hover /* doctor box has orange border when hovering */
{
    border: 1px orange solid !important;
}

@keyframes book-btn-anim /* booking button animation */
{
    0%   {width: 50px; border-radius: 20px 10px 10px 20px;}
    100% {width: 238px; border-radius: 10px;}
}
.book-btn-effect /* booking button effect */
{
    position: absolute;
    background-color: white;
    top: 0px;
    opacity: 0.3;
    width: 50px;
    height: 50px;
    border-radius: 20px 10px 10px 20px;
}
.book-btn:hover > .book-btn-effect /* booking button hover */
{
    animation-name: book-btn-anim;
    animation-duration: 0.5s;
    width: 238px;
    border-radius: 10px;
}

/* ----------------------------------------------------------------------- */