.w-80 /* sets the width of a block element to 80% */
{
    width: 80%;
}

.cur-pointer /* set cursor shape to pointer */
{
    cursor: pointer;
}

.rounded-10px /* round the corners by 10px */
{
    border-radius: 10px;
}